.l_wrapper_06 {
  background-color: #fff;
  margin: 3rem auto;
  width: 80%;
  height: 70%;
  border-radius: 20px;
}

.l_wrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
  border-radius: 20px;
}

.user_icon {
  text-align: left;
}

.pie_chart {
  display: inline-block;
  width: 50%;
  height: 400px;
}

.pie_chart p {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
}

.bar_chart {
  display: inline-block;
  width: 50%;
  height: 400px;
}

.bar_chart p {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
}
