.l-wrapper_06 {
  margin: 1rem auto;
  width: 60%;
  height: 50%;
}

.l-wrapper_06:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
  border-radius: 20px;
}

.card_06 {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px #ccc;
  /* TODO : 高さの固定値を変更*/
  height: 500px;
}

.card-content_06 {
  padding: 8px 20px 20px;
}

.card-text_06 {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

.card-content_06 p {
  margin-bottom:0;
}